figure {
    width: 250px;
    height: 250px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#photos {
    display: flex;
    flex-wrap: column nowrap;
    justify-content: center;
}